<!--<div class="container">-->
<h2 class="page-header">Account Login</h2>
<form method="POST" action="/users/login" class="" role="form">
    <div class="form-group">
        <label class="" for="username">Username:</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="johnsmith2009">
    </div>
    <div class="form-group">
        <label class="" for="pwd">Password:</label>
        <input type="password" class="form-control" name="password" id="pwd" placeholder="">
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label><input type="checkbox" name="remember_me" value="yes"> Remember me</label>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>
<!--</div>-->